<%= render 'shared/menu' %>

<article class="container heightFix">
  <section class="col-md-3 discFilters">
    <h2><%= t("catalog_genre") %></h2>
    <%= collection_select(:genre, :id, Genre.all, :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>

    <hr>
    
<p>

<input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;"  />
</p>

<div id="slider-range"></div>

  </section><!-- /filters -->

  <section class="col-md-9 " id="discCategory">




    <% @genre.discs.in_groups_of(3,false).each do |group| %>
    <section class="row" style="margin-top: 20px;">

      <% group.each do |disc| %>

          <section class="col-md-4 disc"  data-price="<%= disc.price %>">
            <section class="disc-cover-container">
              <a href="<%= disc_path(disc.id) %>"><img src="<%= disc.attachments.first.try(:url) %>" alt="" class="img-responsive"></a>
              <section class="discButtons text-center center-block">
                <a href="#"  class=" favoriteButton" number="<%= disc.id %>", type='disc'><i class="fa fa-shopping-cart fa-lg" ></i></a>
                <a href="#"><i class="fa fa-play fa-lg" ></i></a>
              </section><!--/discButtons -->
            </section>

            <section class="disc-details">
              <h4><%= disc.title %></h4>
              <h4><%= disc.genre.name %></h4>
              <h3><%= number_to_currency disc.price %></h3>
            </section>
          </section> <!--/col md 3-->

      <% end %>





    </section>
  <% end %>

</section><!-- disc category -->

</article><!--/ container -->

<script>
  $("#genre_id").change(function(){

    var categoriesPath = '<%= catalogs_path %>';
    var newPath = categoriesPath + "/" + $(this).val();
    window.location = newPath;
  });

  $(function () {
    var minPrice = <%= @minPrice.to_i %>;
    var maxPrice = <%= @maxPrice.to_i %>;
    var minRange =
      $('#slider-container').slider({
          range: true,
          min: minPrice,
          max: maxPrice,
          values: [minPrice, maxPrice],
          create: function() {
              $("#amount").val("$"+minPrice+ "-" +"$"+ maxPrice);
          },
          slide: function (event, ui) {
              $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
              var mi = ui.values[0];
              var mx = ui.values[1];
              filterSystem(mi, mx);
          }
      })
});
function filterSystem(minPrice, maxPrice) {
$("#discCategory > .disc").hide().filter(function() {
  var price = parseInt($(this).data("price"), 10);
  return price >= minPrice && price <= maxPrice;
}).show();
}
</script>

<%= render 'shared/footer' %>
