<%= render 'shared/adminMenu' %>

<h1>Editing Admin Interpreter</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_interpreter_path(@admin_interpreter.id) %> |
<%= link_to 'Back', admin_interpreters_path %>
