<%= render 'shared/adminMenu' %>

<p id="notice"><%= notice %></p>

<h1>Listing Admin Interpreters</h1>

<hr>
<%= link_to 'New Interpreter', new_admin_interpreter_path, {class: 'btn btn-primary' } %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_interpreters.each do |admin_interpreter| %>
      <tr>
        <td><%= admin_interpreter.name %></td>
        <td><%= link_to 'Show', admin_interpreter_path(admin_interpreter.id) %></td>
        <td><%= link_to 'Edit', edit_admin_interpreter_path(admin_interpreter) %></td>
        <td><%= link_to 'Destroy', admin_interpreter_path(admin_interpreter), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>