<%= render 'shared/menu' %>

<article class="container heightFix">
  <section class="row">
  <section class="col-md-3">

    <ul class="nav nav-pills nav-stacked" id="userProfile">
      <li role="presentation" class="active"><a href="#home"> <%= t("perfil_historial") %> </a></li>
      <li role="presentation"><a href="#ajustes_usuario"><%= t("perfil_ajustes") %> </a></li>
    </ul>

  </section><!--/col md 4 -->

  <section class="col-md-9">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <h1><%= t("perfil_compras") %> </h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th><%= t("perfil_compras_total") %> </th>
              <th>Paypal ID</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <% @compras.each do |compra| %>

            <tr>
              <td><%= compra.amount %></td>
              <td><%= compra.try(:code) %></td>
              <td><%= link_to t("perfil_compras_ver"),order_path(compra.order.id), target: "_blank" %></td>
            </tr>

            <% end %>
          </tbody>
        </table>

      </div>
      <div role="tabpanel" class="tab-pane" id="ajustes_usuario">
        <h1><%= t("perfil_ajustes") %> </h1>
        <h3><%= t("perfil_cambiar_contraseña") %> </h3>
        <form role="form">
          <div class="form-group">
            <label for="pwd"><%= t("perfil_nuevo_password") %> : </label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <div class="form-group">
            <label for="pwd-new"><%= t("perfil_repetir_nuevo_password") %> : </label>
            <input type="password" class="form-control" id="pwd-new">
          </div>
          <button type="submit" class="btn btn-default"><%= t("btn") %> </button>
        </form>
      </div>
    </div><!-- /tab content -->
  </section>

  </section>
</article><!--/container -->

<script>
  $('#userProfile a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>


<%= render 'shared/footer' %>
