<%= render 'shared/menu' %>

<div class="jumbotron" style="background-image: url('<%= asset_url 'piano-bg.png' %>');">
  <div class="container">

    <section class="col-md-6">
      <img src="<%= asset_url 'mozart-cover.png' %>" class="img-responsive" alt="">
    </section>

    <section class="col-md-6">
      <h1>Iniciar Sesión</h1>
      <%= form_tag sessions_path, role: 'form'  do |f| %>

        <div class="form-group">
          <%= label_tag :email, 'Email' %>
          <%= text_field_tag :email, nil,class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :password, 'Contraseña' %>
          <%= password_field_tag :password, nil,class: 'form-control' %>
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      <% end %>
    </section>
  </div>
</div>

<%= render 'shared/ventajas' %>

<%= render 'shared/footer' %>
