<%= render 'shared/menu' %>

<article class="container heightFix">
<table class="table table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.price %></td>
        <td><%= item.class.name %></td>
        <td><%= link_to '#',{class:"favoriteButton basket-item-checkout", number: item.id, type: item.class.name.underscore, price: item.price } do %>
                <i class="fa fa-trash fa-2x"></i>
        <% end %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="4" class="text-right">TOTAL: <span id="totalPrice"><%= @totalPrice %></span></td>
      </tr>
    </tbody>
  </table>

  <h3 class="text-right"><%= link_to "Finalizar Compra", payments_path, method: :post,class:'btn btn-success' %></h3>

</article>

<%= render 'shared/footer' %>


<script>
  $(".basket-item-checkout").click(function(){

    updatePriceCounter($(this));
    removeRow($(this));
  });

  function removeRow(item){
    console.log(item.closest("tr").hide());
  }

  function updatePriceCounter(deletedItem){
    totalPrice = parseFloat($("#totalPrice").text());
    toDeletePrice = parseFloat(deletedItem.attr("price"));
    finalPrice = totalPrice - toDeletePrice;
    $("#totalPrice").text(finalPrice)
  }

</script>
