<%= form_for [:admin,@admin_author] do |f| %>
  <% if @admin_author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_author.errors.count, "error") %> prohibited this admin_author from being saved:</h2>

      <ul>
      <% @admin_author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <%= f.submit %>
  </div>
<% end %>
