<%= render 'shared/adminMenu' %>

<h1>Editing Admin Author</h1>

<%= render 'form' %>


<td><% if @cover %>
      <%= image_tag @cover.url, size: "300x300" %>
      <%= link_to "Delete", admin_attachment_destroy_path(@cover.id), method: :delete  %>
  <% else %>
      <%= s3_uploader_form callback_url: admin_attachments_path + "/Author/" + @admin_author.id.to_s, callback_param: "author[discUrl]", id: "attachment-uploader" do %>
          <%= file_field_tag :file,accept: 'image/*', multiple: false, data: { url: s3_uploader_url } %>
      <% end %>

      <%= edit_admin_author_path(3) %>
  <% end %>
</td>
<br>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>


<%= link_to 'Show', admin_author_path(@admin_author) %> |
<%= link_to 'Back', admin_authors_path %>
