<section class="col-md-3">
  <section class="disc-cover-container">
    <img src="http://dummyimage.com/270x250" alt="" class="img-responsive">
    <section class="discButtons text-center center-block">
      <a href="#"><i class="fa fa-shopping-cart fa-lg" ></i></a>
      <a href="#"><i class="fa fa-play fa-lg" ></i></a>
    </section><!--/discButtons -->
  </section>
