
<hr>

<footer>
  <section class="container">
    <section class="row">
      <section class="col-md-4 text-center">
        <%= image_tag (asset_url 'footer-logo.png'), class:'center-block' %>
      </section><!-- /col md 4 -->


      <section class="col-md-4 text-center">
        <ul>

          <li><a href="Acerca de nosotros"></a><%= link_to t("footer_acerca_de"), acerca_de_path %></li>
          <a href="<%= asset_path ("politica-privacidad-urtext.pdf") %>"><li><%= t("footer_politica") %></li></a>
          <li><%= t("footer_terminos") %></li>
          <li><%= t("footer_contacto") %></li>

        </ul>
      </section><!-- /col md 4 -->

      <section class="col-md-4 text-center">
        <section class="row">
          <i class="fa fa-cc-paypal fa-2x"></i>
        </section>

        <section class="row">
          <a href="https://www.facebook.com/pages/urtextonlinecom/180339158663338"><i class="fa fa-facebook-official fa-2x"></i></a>
          <a href="http://www.youtube.com/user/urtextonline/videos?flow=grid&view=0"><i class="fa fa-youtube-square fa-2x"></i></a>
        </section>
      </section><!-- /col md 4 -->
    </section><!--/row-->
  </section>
</footer>
