<%= form_for [:admin,@admin_genre] do |f| %>
  <% if @admin_genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_genre.errors.count, "error") %> prohibited this admin_genre from being saved:</h2>

      <ul>
      <% @admin_genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <% Genre.locale_columns(:name).each do |column| %>
        <p>
          <%= f.label column %>
          <%= f.text_field column %>
        </p>
    <% end %>

      <%= f.label :collection %>
      <%= f.check_box :collection %>

    <%= f.submit %>
  </div>
<% end %>