<%= render 'shared/adminMenu' %>

<h1>Editing Admin Genre</h1>

<%= render 'form' %>


<td><% if @cover %>
      <%= image_tag @cover.url, size: "300x300" %>
      <%= link_to "Delete", admin_attachment_destroy_path(@cover.id), method: :delete  %>
  <% else %>
      <%= s3_uploader_form callback_url: admin_attachments_path + "/Genre/" + @admin_genre.id.to_s, callback_param: "genre[discUrl]", id: "attachment-uploader" do %>
          <%= file_field_tag :file,accept: 'image/*', multiple: false, data: { url: s3_uploader_url } %>
      <% end %>

  <% end %>
</td>

<script id="template-upload" type="text/x-tmpl">
  <div id="file-{%=o.unique_id%}" class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>


<%= link_to 'Show', admin_genre_path(@admin_genre) %> |
<%= link_to 'Back', admin_genres_path %>
