<%= render 'shared/adminMenu' %>

<p id="notice"><%= notice %></p>

<h1>Listing Admin Genres</h1>

<hr>
<%= link_to 'New Genre', new_admin_genre_path,{ class:'btn btn-primary' }  %>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_genres.each do |admin_genre| %>
      <tr>
        <td><%= admin_genre.name %></td>
        <td><%= link_to 'Edit', edit_admin_genre_path(admin_genre) %></td>
        <td><%= link_to 'Destroy', admin_genre_path(admin_genre), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
