<%= render partial: 'shared/menu' %>

<article class="container heightFix">
  <h1>Acerca de nosotros</h1>

  <blockquote>Sello discográfico dedicado a la cultura musical de México</blockquote>
  <h3>Misión</h3>
  <p>La vocación de Urtext ha sido desde su inicio la de mostrar al mundo la riqueza de la música mexicana y latinoamericana creando una plataforma para la difusión y promoción del talento de los compositores e intérpretes de nuestro país y nuestro tiempo, así como de nuestro enorme y relevante acervo de música virreinal, étnica y jazz. El importante elenco de nuestra empresa reúne a los nombres más importantes de la música de concierto de nuestro país y nuestro tiempo como son Juan Carlos Laguna, Carlos Prieto, el Cuarteto Latinoamericano, Jessica Rivera, Eugenio Toussaint, Cris Lobo, entre muchos otros.</p>
  <h3>Descripción</h3>
  <p>www.urtextonline.com es el portal de descargas del sello discográfico Urtext Digital Classics, una empresa mexicana fundada hace más de 15 años y cuyo catálogo de más de 200 títulos, se enfoca primordialmente en la música de concierto de compositores Mexicanos y Latinoamericanos, pero incluye también obras de los grandes compositores del repertorio de la música de concierto internacional. Otros estilos disponibles en nuestro portal son la música étnica y tradicional de comunidades de todo México, con especial énfasis en la música jarocha y una cuidadosa selección de jazz mexicano.</p>

  <p>El sello se ha hecho acreedor a tres nominaciones GRAMMY latino para mejor álbum clásico, en los cuales el maestro Benjamín Juárez Echenique fué nominado como director, el maestro Eugenio Toussaint fue nominado como mejor compositor y Marisa Canales como productora musical.</p>


  <p>Contamos con mas de 3000 tracks de música clásica , tradicional, hjazz y de repertorio internacional, disponibles en descarga digital</p>
</article>

<%= render 'shared/footer' %>