<%= form_for(@admin_featured) do |f| %>
  <% if @admin_featured.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_featured.errors.count, "error") %> prohibited this admin_featured from being saved:</h2>

      <ul>
      <% @admin_featured.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% Admin::Featured.locale_columns(:title).each do |column| %>
        <p>
          <%= f.label column %>
          <%= f.text_field column %>
        </p>
    <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<td><% if @cover %>
      <%= image_tag @cover.url, size: "300x300" %>
      <%= link_to "Delete", admin_attachment_destroy_path(@cover.id), method: :delete  %>
    <% else %>
      <%= s3_uploader_form callback_url: admin_attachments_path + "/Admin::Featured/" + @admin_featured.id.to_s, callback_param: "genre[discUrl]", id: "attachment-uploader" do %>
        <%= file_field_tag :file,accept: 'image/*', multiple: false, data: { url: s3_uploader_url } %>
      <% end %>

    <% end %>
  </td>

  <script id="template-upload" type="text/x-tmpl">
  <div id="file-{%=o.unique_id%}" class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>
