
<%= render 'shared/menu' %>

<article class="jumbotron disc-big-image" style="background-image:url('<%= @disc.attachments.first.try(:url) %>')"></article>

<article class="container disc-container">

  <section class="disc-cover">
    <img src="<%= @disc.attachments.first.try(:url) %>" class="disc-details-cover center-block" alt="">
  </section>

  <section class="disc-detail text-center col-md-6 col-md-push-3">
    <h2><%= @disc.title %></h2>
    <h5><% @disc.authors.each do |author| %>
          <%= author.try(:name) %> /
      <% end %>
      <a href="#" class="disc-category"><%= @disc.genre.name %> </a>
    </h5>
    <p><%= @disc.description %></p>
    <h1 class="space20px"><%= number_to_currency(@disc.price) %></h1>
    <p><a href="#" class="btn btn-primary favoriteButton" number="<%= @disc.id %>", type='disc' style="background-color:#1449E3">Añadir Al carrito</a>
    <a href="#" class="btn btn-primary " id="comprar_btn" number="<%= @disc.id %>", type='disc' style="background-color:#1449E3">Comprar el disco completo</a></p>

  </section>

  <section class="track-container col-md-12">

    <% @tracks.each do |track| %>
      <section class="track-detail row">
        <audio preload="false" class="trackPlayer" controls="controls" id="track-<%= track.id %>">
          <source src="<%= track.sampleUrl %>" type="audio/mpeg" auto="false" />
        </audio>
        <section class="col-md-8">
          <h4><%= track.title %></h4>

          <h5><%= track.interpreters.map { |interpreter| interpreter.name }.join("/ ") %></h5>
        </section>

        <section class="col-md-2">
          <h3 class="disc-price"><%= number_to_currency(track.price) %></h3>
        </section>

        <section class="col-md-2 track-actions text-center">
          <a href="#" class="favoriteButton" number="<%= track.id %>", type='track'>
            <i class="fa fa-cart-plus fa-lg"></i>
          </a>
          <a href="#" data-track="<%= track.id %>" class="playerButtons"><i class="fa fa-play fa-lg"></i></a>
        </section>
      </section>
    <% end %>

  </section>
</article>

<script>
  $(".playerButtons").click(function(){

    var trackToPlay  = $(this).data("track");
    var player = document.getElementById("track-"+trackToPlay);
    if (player.paused == false) {
      player.pause();
      $(this).children("i").addClass('fa-play');
      $(this).children("i").removeClass('fa-pause');

  } else {
      player.play();
      $(this).children("i").removeClass('fa-play');
      $(this).children("i").addClass('fa-pause');
  }
  return false;
  });

  $("#comprar_btn").click(function(){

    emptyBasket();

    var id = parseInt($(this).attr("number"));
    var type = $(this).attr("type");
    var item = [{id: id, type: type}];
    Cookies("basket", JSON.stringify(item),{ expires: 365 });

    redirectToCheckout();

    console.log(Cookies("basket"));

  });


  function redirectToCheckout(){
    window.location.replace("../checkout");
  }

  function emptyBasket(){
    Cookies.set("basket",'[]') == [];
  }
</script>

<%= render 'shared/footer' %>
