/* general */

body,html{
  font-family: 'Lato', sans-serif;
    height: 100%;
}

.idioma-select{
    display: inline-block;
    margin: 7px 20px;
}

.activeLang{
    background-color: white;
    padding: 2px 3px;
}

.space20px{
  margin-bottom: 20px;
}

body > table > tbody > tr:nth-child(1) > td:nth-child(2) > a

.add-basket{
 }

#purchaseMsg,#removeMsg{
  display: none;
}
  .remove-basket > i:before{

    content: "\f068";
  }

  .remove-basket >i {
  }

/* menu */

.navbar {
    margin-bottom: 0px;
}

.popover-content{
  color: black;
  width: 230px;
}

.main-menu{
  background-color: #1449e3;
  color: white;
}

.btn-transparent{
  background-color: transparent;
  border:3px solid white;
  padding: 5px 10px;
  color:white;
  font-size: 18px;
  margin: 10px 0 ;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
  color: white;
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-nav>li{
  margin:0 1px;
  text-transform: uppercase;
}

.shopping-cart{
  padding-top: 15px;
  padding-left:25px;
  color:white;
}

.shopping-cart > span{
  background-color: white;
  padding: 7px 10px;
  color: #373737;
  margin: 10px 0 10px 10px;
  border-radius: 50%;
}

 #main-menu #bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > a:visiter{
   color:white;
 }


 .carousel-indicators li {
    border: none;
}

/* jumbotron */

.jumbotron {
  background-size: cover;
  color:white;
}

#importantPosts > ol > li.active{
  background-color: #1449e3;
}

#importantPosts > ol > li{
  background-color: white;
}

#importantPosts > ol{
  bottom: 40px;
}

/* advantages */

.indexAdvantages i{
  color: #1449e3;
}

/* lanzamientos */

.lanzamientos h1{
  color: #1449e3;
}

.disc-cover-container{
  position: relative;
}

.discButtons{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
}

.discButtons i{
  color: black;
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  margin: 0 5px;
    border: 1px solid #e3e3e3;
}

.disc-details{
  background-color: #1449e3;
  color: white;
  padding: 20px 10px;
}

.disc-cover-container  img{
  height: 250px;
}


/* colleciones */

.colecciones h1{
  color: #1449e3;
}

.collection-container > h2{
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
}


/* categorias */
.ui-slider-horizontal {
    height: auto;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.4em;
}
.ui-slider .ui-slider-handle {
    width: 0.8em;
    height: 0.8em;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #1449e3;
    background: #1449e3;
  }
.categoriasHome{
  background-color: #1449e3;
  color: white;
}

#carrouselCategorias .carousel-indicators li{
    text-indent:0;
    width:200px;
    height: 30px;
    border: none;
    background-color: transparent;
    margin-bottom: 15px;
    border-radius: 0px;
}
#carrouselCategorias .carousel-indicators {
  position: static;
  bottom: 0px;
  left: 0px;
  z-index: 15;
  width: auto;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
  list-style: none;
}

#carrouselCategorias > ol > li.active{
  border-bottom: 3px solid white;
}

.discategoryButton{
  position: relative;
  bottom: 20px;
}

.discategoryButton i{
  color: black;
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  margin: 0 5px;
}

/* disc detail */

.disc-container{
  position: relative;
  bottom:215px;
}

.disc-big-image{
  height: 300px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.disc-details-cover{
  border: 5px solid white;
  width: 250px;
  height: 250px;
}

.track-container {
  border-bottom: 1px solid #cacaca;
}

.disc-detail > h5 > a{
  color: #1449e3;
}

.disc-price{
  color:#1449e3;
}

.track-container > .track-detail > .track-actions >a  > i{
  background-color: #ededed;
  padding: 15px;
  border-radius: 100%;
  margin: 5px;
}

.trackPlayer{
  display: none;
}
/* footer */

footer  ul > li > a{
    color:white;
}

footer{
  background-color: #373737;
  color: white;
  padding: 10px 0;
}

footer ul li {
  list-style: none;
}

footer i{
  margin:5px 7px;
}

.navbar-default .navbar-nav>li>a:hover{
  background-color: white;
  color:black;
}

.heightFix{
  min-height: 75%;
}

footer  ul{
  padding-left: 0;
}


footer .col-md-4{
  border-left: 1px solid white;
  border-right: 1px solid white;
  height: 125px;
  padding: 15px 0;
}

footer .col-md-4:nth-child(1n){
  border-left: 0;
}

footer .col-md-4:nth-child(3n){
  border-right: 0;
}

@media only screen and (max-width: 769px) {
  .shopping-cart{
    background: #e3e3e3;
    padding: 10px;
    text-align: center;
  }
    .navbar-default .navbar-toggle,.navbar-brand{
      color:white;
    }
    .navbar-toggle{
      margin-right: 30px;
    }

    .disc-cover-container > a > img{
      margin:0 auto;
      display: block;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
      color:white;
    }
    .navbar-brand{
      color:white;
    }
    .disc-cover-container{
      margin-top: 20px;
    }
    .track-container{
      text-align: center;

    }
}
