<%= render 'shared/adminMenu' %>

<h1>Admin Index</h1>

<h2>Ultimas ventas</h2>
<table class="table">
  <thead>
    <tr>
      <td>Email</td>
      <td>
        Amount
      </td>
      <td>
        Date
      </td>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
    <tr>
       <td>
         <%= payment.user.email %>
       </td>
       <td>
         <%= payment.amount %>
       </td>
      <td>
        <%= payment.created_at.strftime("%B %d, %Y") %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
